args==0.1.0
asn1crypto==0.24.0
AST==0.0.2
Click==7.0
clint==0.5.1
configparser==3.5.0b2
coverage==4.5.2
cryptography==2.3
entrypoints==0.2.3.post3
enum34==1.1.6
expects==0.9.0
Flask==1.0.3
gunicorn==19.9.0
idna==2.6
ipaddress==1.0.17
itsdangerous==1.1.0
Jinja2==2.10.1
keyring==15.1.0
keyrings.alt==3.1
mamba==0.10
MarkupSafe==1.1.1
mutagen==1.40.0
numpy==1.16.0
pandas==0.23.4
psutil==5.4.6
pycairo==1.16.2
pycrypto==2.6.1
pygame===1.9.1release
PyGObject==3.30.1
pyOpenSSL==18.0.0
python-apt==1.7.1
python-dateutil==2.7.5
pytz==2018.9
pyxdg==0.25
scikit-learn==0.20.2
scipy==1.2.0
SecretStorage==2.3.1
six==1.11.0
sklearn==0.0
Unidecode==1.0.23
virtualenv==16.2.0
Werkzeug==0.15.4
wxPython==3.0.2.0
wxPython-common==3.0.2.0
