<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>Hello World!</h1>

  <form action="http://localhost:5000/uploader" method="POST" 
    enctype = "multipart/form-data">
    <label>Train CSV</label>
    <input type="file" accept=".csv" name="train_csv" />
    <label>Test CSV</label>
    <input type="file" accept=".csv" name="test_csv" />
    <input type="submit" value="Get Results"/>
  </form>
  
</body>
</html>